
@{
    ViewData["Title"] = "Inregistrare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-register">
    <div class="row">
        <div class="register-form">
            <div>
                <h2>Creare cont</h2>
                <form>
                    <label>Nume *</label><br>
                    <input type="text" placeholder="Introduceti numele" name="nume" /><br>

                    <label>Prenume *</label><br>
                    <input type="text" placeholder="Introduceti prenumele" name="prenume" /><br>

                    <label>Adresa e-mail *</label><br>
                    <input type="text" placeholder="Introduceti adresa de e-mail" name="e-mail" /><br>

                    <label>Parola *</label><br>
                    <input type="password" placeholder="Introduceti parola" name="parola" /><br>

                    <label>Telefon *</label><br>
                    <input type="text" placeholder="Introduceti numarul de telefon" name="telefon" /><br>
                    <div class="buttons">
                        <input type="submit" name="btnSubmit" value="Logare" class="btnSubmit" />
                        <p>* Campuri obligatorii</p>
                    </div>
                </form>
            </div>  
        </div>


    </div>
    

</section>


