
@{
    ViewData["Title"] = "ConfirmareCont";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    Contul a fost confirmat cu succes!
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">
        Catre pagina principala
    </a>
</div>

