
@{
    ViewData["Title"] = "DetaliiCont";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="details-title">
        <h2>Detalii cont</h2>
        <hr />
    </div>

    <div class="account-details">
        <div class="account-details-col1">
            <a href="#" onclick="Detalii('_Profil')" id="primul">Profil</a>
            <a href="#" onclick="Detalii('Part2')">Email</a>
            <a href="#" onclick="Detalii('_Parola')">Password</a>
            <a href="#" onclick="Detalii('Part2')">Date personale</a>
            <a asp-controller="Cont" asp-action="Logout">Logout</a>
        </div>

        <div class="account-details-col2">

            <div class="partial-views" id="partial-view">
                @*<partial name="_Profil" />*@

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#primul").focus();
        var url = "/Cont/Partial?numeTab=" + "_Profil";
        $("#partial-view").load(url)
    });
    function Detalii(variabila) {
        var url = "/Cont/Partial?numeTab=" +variabila;
        $("#partial-view").load(url);
    }
</script>

