@model OnlineShop.ViewModels.InregistrareViewModel
@{
    ViewData["Title"] = "Inregistrare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-register">
    <div class="row">
        <div class="register-form">
            <div>
                <h2>Creare cont</h2>
                <form asp-controller="Cont" asp-action="Inregistrare" method="post" >
                    <div asp-validation-summary="ModelOnly" class="text-error"></div>
                    <div class="controlls">
                        <label asp-for="Nume">Nume *</label><br>
                        <input asp-for="Nume" type="text" placeholder="Introduceti numele"  />
                        <span asp-validation-for="Nume" class="text-danger"></span><br>
                    </div>

                    <div class="controlls">
                        <label asp-for="Prenume">Prenume *</label><br>
                        <input asp-for="Prenume" type="text" placeholder="Introduceti prenumele"  />
                        <span asp-validation-for="Prenume" class="text-danger"></span><br>
                    </div>

                    <div class="controlls">
                        <label asp-for="Email"></label><br>
                        <input asp-for="Email" type="text" placeholder="Introduceti adresa de e-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span><br>
                   </div>

                    <div class="controlls">
                        <label asp-for="Parola">Parola *</label><br>
                        <input asp-for="Parola" type="password" placeholder="Introduceti parola"  />
                        <span asp-validation-for="Parola" class="text-danger"></span><br>
                    </div>
                        <div class="controlls">
                            <label asp-for="ConfirmParola">Confirmare Parola *</label><br>
                            <input asp-for="ConfirmParola" type="password" placeholder="Introduceti parola" />
                            <span asp-validation-for="ConfirmParola" class="text-danger"></span><br>
                        </div>

                        <div class="controlls">
                            <label asp-for="Telefon">Telefon *</label><br>
                            <input asp-for="Telefon" type="tel" placeholder="Introduceti numarul de telefon" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                            <span asp-validation-for="Telefon" class="text-danger"></span><br>
                        </div>

                        <div class="buttons">
                            <input type="submit" name="btnSubmit" value="Inregistrare" class="btnSubmit" />
                            <p>* Campuri obligatorii</p>
                        </div>
                </form>
            </div>
        </div>


    </div>
   

</section>


