@model OnlineShop.ViewModels.LogareViewModel
@{
    ViewData["Title"] = "Logare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Style.css" rel="stylesheet" />



<section class="section-login">
    <div class="row">
        <h2>Logare</h2>
        <div class="container-login">
            <div class="login-form">

                <form asp-controller="Cont" asp-action="Logare" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-error"><p></p></div>
                    <div class="controlls">
                        <label asp-for="Email">Adresa e-mail *</label><br>
                        <input asp-for="Email" type="text" placeholder="Introduceti adresa de e-mail" />
                        <span asp-validation-for="Email" class="text-error"></span>
                        <br>
                    </div>

                    <div class="controlls">
                        <label asp-for="Parola">Parola *</label><br>
                        <input asp-for="Parola" type="password" placeholder="Introduceti parola" />
                        <span asp-validation-for="Parola" class="text-error"></span>
                        <br>
                    </div>
                    <div class="remember-me">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" /><span>@Html.DisplayNameFor(m => m.RememberMe)</span>
                        </label>
                    </div>
                        <div class="buttons">
                            <input type="submit" name="btnSubmit" value="Logare" class="btnSubmit" />
                            <a>Ati uitat parola?</a>
                            <p>* Campuri obligatorii</p>
                        </div>

                </form>

            </div>

            <div class="register-part">
                <div class="info-client">
                    <h2>Client nou</h2>
                    <p>Prin crearea unui cont în cadrul magazinului, veți putea parcurge mai rapid procesul de finalizare a comenzilor, veți avea posibilitatea de a stoca mai multe adrese de expediere, de a vedea și urmări comenzile și multe altele.</p>
                    <div class="buttons">
                        <input type="button" name="btnSubmit" value="Inregistrare" class="btnSubmit" onclick="@("window.location.href='" + @Url.Action("Inregistrare", "Cont") + "'");" />

                    </div>
                </div>
                </div>
        </div>
    </div>
</section>