
@{
    ViewData["Title"] = "SchimbareDetaliiCont_Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <br />
    <h1>@ViewBag.SuccessMessage</h1>
    <a  asp-controller="Cont" asp-action="DetaliiCont" >
        Catre contul meu
    </a>
</div>

