@model string
@{
    ViewData["Title"] = "404 Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mt-1 mb-1">

    <h4>404 Not found error</h4>
    <hr />
    <h5>Categoria "@Model"  nu exista!</h5>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">
Catre pagina principala
</a>

